/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

/* Hero Style */
.mt-100 {
    margin-top: 100px;
}

.hero-area .single-carousel {
    background-position: center;
    min-height: 90vh;
    position: relative;
    z-index: 1;
    background-size: cover;
}

.hero-area .single-carousel::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.7);
    z-index: -1;
}

.carousel-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    content: "";
    transform: translateY(-50%);
}

.carousel-text h2 {
    font-size: 65px;
    color: #fff;
    line-height: 85px;
    font-weight: 600;
    padding: 0 125px;
}

.carousel-text p {
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    padding: 0 125px;
}

.institute-wrapper {
    background-color: #F4FAFD;
}

.ins-img {
    height: 550px;
    width: 100%;
}

.item {
    margin-right: 50px;
}

/* Testimunials area style */
.ratings li {
    list-style: none;
}

.ratings li i {
    color: gold;
}

.test-quote img {
    height: 45px;
    width: auto;
    margin-bottom: 15px;
}

.carousel-triger {
    border-radius: 22px;
    position: absolute;
    right: -18px;
}

.carousel-triger.triger-left {
    position: absolute;
    right: 148px;
}

.brand-wrapper li {
    list-style: none;
}

.footer-icon li {
    list-style: none;
    width: 35px;
    height: 35px;
    background: dimgrey;
    display: inline-block;
    margin: 0 6px;
    line-height: 40px;
    border-radius: 50%;
}

.footer-icon li a {
    color: #fff;
    font-size: 20px;
}


/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .hero-area .single-carousel {
        min-height: 90vh;

    }

    .carousel-text h2 {
        font-size: 36px;
        color: #fff;
        line-height: 1;
        /* font-weight: 600; */
        padding: 0px 98px;
    }

    .carousel-text p {
        font-size: 16px;
        color: #fff;
        line-height: 1.5;
        padding: 0 102px;
    }

    .ins-text h2 {
        font-size: 22px;
    }

    .ins-text p {
        font-size: 14px;
    }

    .item h1 {
        font-size: 20px;
    }


}


/* small mobile :320px. */
@media (max-width: 767px) {
    .carousel-text h2 {
        font-size: 28px;
        color: #fff;
        font-weight: 600;
        padding: 0 0;
        line-height: 1;
    }

    .carousel-text p {
        font-size: 14px;
        color: #fff;
        line-height: 1.5;
        padding: 0 16px;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }

}